.nbox0{
  /* zoom:1.6; */
  zoom: 1 !important;
  transform: scale(1.6) !important;
  transform-origin:0 0 !important;
}
.img-ol2,.img-ol2k{
  /* zoom:0.5; */
  zoom: 1 !important;
  transform: scale(0.5) !important;
  transform-origin:0 0 !important;
}
.imgup1 {
  /* zoom: 2;
  transform: scale(0.5); */
  zoom: 1 !important;
  transform: scale(1.0) !important;
  transform-origin:0 0 !important;
}
